@import "../node_modules/startbootstrap-sb-admin-2/scss/sb-admin-2";

@import "../node_modules/sass-svg-uri/_svg-uri.scss";

@import "../node_modules/bootstrap4c-chosen/src/scss/component-variables";
@import "../node_modules/bootstrap4c-chosen/src/scss/component-chosen";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

$bs-datetimepicker-disabled-color: $gray-500 !default;

// Import datepicker component
@import "../node_modules/tempusdominus-bootstrap-4/src/sass/_tempusdominus-bootstrap-4";