.amenagements-list {

  & {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr
  }

  & .card {

    & {
      height: 100%;
    }

    & .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  }

}

@mixin elements-list($elements-name) {

  display: grid;

  .#{$elements-name}-list-item {

    & {
      padding: .8em;
      grid-column: 1 / -1;
      display: grid;
      grid-gap: .3em;
      align-items: center;
      grid-template-columns: inherit;
      //noinspection CssInvalidPropertyValue
      @supports (grid-template-columns: subgrid) {
        grid-template-columns: subgrid;
      }
    }

    & p {
      margin: 0;
    }

    & a {
      justify-self: right;
    }

  }

}

.users-list {
  @include elements-list('users');
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 2fr) 1fr;
  }
}

.customers-list {
  @include elements-list('customers');
  @media (min-width: 768px) {
    grid-template-columns: 4fr 4fr 1fr 4fr 4fr 2fr;
  }
}

.quotes-list {
  @include elements-list('quotes');
  @media (min-width: 768px) {
    grid-template-columns: 5fr 3fr 1fr;
  }
}

.quotes-list-item {

  & .quote-first-col {
    grid-column: 1/2;
  }

  & .quote-date {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  & .quote-amount {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  & .quote-state {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
  }

  & .quote-details-btn {
    grid-column: 3/4;
    grid-row: 2/5;
    align-self: end;
  }
}

.quotes-list-search .select-multiple-developmentType {
  max-width: 100%;
}

.quotes-list-search .chosen-choices {
  padding: 0;
  border-radius: .25rem;
}
